.image-slider-container{
  width: 99.5%;
; background-color: #fcfcfc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.slick-prev,
.slick-next {
  height: 6.5rem;
  width: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.slick-prev {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.slick-next {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.slick-prev:hover ,.slick-next:hover{
  background-color: #fcfcfc;
  color: #000;
}

.slick-prev:before,
.slick-next::before {
  display: none;
}

