@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.Product {
  width: 99.5%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* .product-leftSide {
  display: flex;
  flex-direction: column;
  height: 23rem;
  width: 18rem;
  border: 2px solid #212121;
}
.product-leftSide > div {
  text-align: center;
  padding: 5px 0;
  border: 2px solid red;
}
.product-leftSide > div > span {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
}
.leftSideImg {
  height: 12.5rem;
  width: 14rem;
} */

/*--------product-container------*/
.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 17rem;
  height: 21rem;
  padding: 25px 15px;
  gap: 12px;
  font-family: "Roboto", sans-serif;
  margin:1.5rem;
}
.product-img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  /* object-fit: contain; */
}
.product-name {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}
.product-price {
  font-size: 14px;
  font-weight: 500;
  color: #388e3c;
}
.product-decrp {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  opacity: 0.6;
}
.product-container:hover .product-img {
  transform: scale(1.1);
  transition: 700ms;
}

.viewAll-btn {
  color: #fff;
  background-color: rgb(40, 116, 241);
  padding: 10px 15px;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}
